<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/Icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by Steve Hostetter.  It uses data from mapbox.com and weatherapp.</p>
        <img class="portrait" src="/img/Display.png">
        </div>
        {{>footer}}
    </body>
</html>